@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700&display=swap");
@import url("./reset.css");
@import url("./user_input.css");
@import url("./user_output.css");
@import url("./footer.css");
@import url("./animations.css");


:root {
  font-size: 62.5%;
  --c-black: hsl(50, 100%, 2%);
  --c-shadow: hsl(50, 11%, 22%);
  --c-white: hsl(50, 49%, 90%);
  --c-white-l: hsl(50, 49%, 100%);
  --mint: hsl(117, 100%, 82%);
}

* {
  box-sizing: border-box;
}

body * {
  font-family: 'Red Hat Display', monospace;
}

body {
  min-height: 100vh;

  background-color: var(--c-white);
  font-size: 1.6rem;
  color: var(--c-black);

  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 3.5rem;

  border-top-width: .7rem;
  border-top-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, var(--c-black), var(--mint));

  animation: smooth-ease 1s;
  scroll-behavior: smooth;
}

#main-content {
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

#main-content .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}


#text-input {
  flex: 4;
}

#text-output {
  flex: 2;
}

textarea {
  resize: none;
  border-radius: .7rem;
  border: none;

  font-size: inherit;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

img {
  max-width: 100%;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  border-radius: 1rem;

  transition: all .2s;
  text-align: center;
  text-decoration: none;
}

a, i {
  color: inherit;
}